extends layout

block content
    h1= title
    p Welcome to #{title}
 
      h1 Reset Password
      form(action='/resetpassword/submit', method='POST')
        input(type='text', name='username', placeholder='Username', required='')
        input(type='password', name='password', placeholder='New Password', required='')
        input(type='password', name='confpassword', placeholder='Confirm New Password', required='')
        input(type='submit', name='submit')